-server
-Xmx{{ druid_historical_heap_size }}
-Xms{{ druid_historical_heap_size }}
-XX:NewSize={{ druid_historical_max_new_size }}
-XX:MaxNewSize={{ druid_historical_max_new_size }}
-XX:MaxDirectMemorySize={{ druid_historical_max_direct_size }}
-XX:+UseConcMarkSweepGC
-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Djava.io.tmpdir=/mnt/tmp
